@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("imgs/ori_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: teal;*/
} 

li, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2.5%;
}

.logo {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
}

.nav_links {
    list-style: none;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 8px blue;
    
}

.nav_links li a:hover{
    color: lightskyblue;
}

.cart-links {
    list-style: none;
}

.cart-links li {
    display: inline-block;
    padding: 0px 20px;
}

.cart-links li a {
    transition: all 0,3s ease 0s;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 8px blue;
}

.content {
    position: relative;
    width: 100%;
    display: flex; 
    color: white;
    justify-content: space-between;
    align-items: center;
}

.content .textbox {
    position: relative;
    max-width: 600px;
}

.content .textBox h1 {
    color: white;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 500;
}