@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("imgs/ori-bg.JPG");
} 

li, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
}

.logo {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
}

.nav_links {
    list-style: none;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

.cart-links {
    list-style: none;
    text-decoration: none;
}

.cart-links li {
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}